
@font-face {
    font-family: 'Calypso';
    src: url('../fonts/ofont.ru_Calypso.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    font-family: 'Calypso', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/World-map.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8;
    z-index: -1;
}

strong{
    font-family: 'Calypso';
}

p{
    text-align: center;
    color: aqua;
}

label{
    font-family: 'Calypso';
    font-size: 20px;
    color: #a424fa;
}

select{
    padding: 5px 10px ;
}
h1, h2 {
    text-align: center;
    color: aqua;
    font-family: 'Calypso';
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 150px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #0051ff;
    font-size: 21px;
    font-family: 'Calypso';
}

nav ul li a:hover {
    text-decoration: none;
    color: aqua;
    font-size: 21px;
    font-family: 'Calypso';
}

.a_style{
    display: inline-block;
    padding:5px 10px;
    background-color: #5d95ff;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Calypso';
    margin-left: 150px;
}

.a_style:hover {
    background-color: aqua;
    color: #fff;
    margin-left: 150px;
}

.message {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea{
    resize: none;
}

form {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form_style {
    width: 97%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="email"],
form input[type="url"],
form textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

form input[type="submit"] {
    font-family: 'Calypso';
    padding: 10px 20px;
    background-color: #5d95ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
}

form input[type="submit"]:hover {
    background-color: aqua;

}

.info{
    color: #2428e8;
    font-size: 18px;
    text-align: center;
}

